@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --default-font-family: "Nunito", sans-serif;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation: .3s forwards fadeIn;
}

.fade-out {
    animation: .3s forwards fadeOut;
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideOut {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.slide-in {
    animation: .5s forwards slideIn;
}

.slide-out {
    animation: .5s forwards slideOut;
}

a {
    white-space: nowrap;
}

.example {
    @apply ring-1 ring-neutral-800/10 px-6 py-12 min-h-64 rounded-xl mt-6;
}

.dropdown {
    @apply rounded-lg bg-white ring-1 shadow-lg ring-neutral-800/3 p-1 mt-1 min-w-32;
}

.dropdown a {
    @apply flex justify-between px-3 p-1 rounded-md hover:bg-neutral-800/4 hover:text-neutral-800;
}

.active {
    @apply border-b-neutral-800 text-neutral-800;
}