@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation: .3s forwards fadeIn;
}

.fade-out {
    animation: .3s forwards fadeOut;
}

#simple-dropdown {
    ul:not(.dropdown) {
        display: flex;

        > li {
            position: relative;

            > a {
                display: flex;
                gap: .3rem;
                align-items: center;
                padding: .5rem .7rem;
                border-radius: .5rem;

                &:hover {
                    background: oklch(0.985 0.002 247.839);
                }
            }
        }
    }

    /* First level dropdown */
    .dropdown {
        display: none;
        position: absolute;
        border-radius: .5rem;
        width: max-content;
        margin-top: .5rem;
        box-shadow: 0 3px 3px rgb(0 0 0 / 0.12);

        a {
            display: flex;
            gap: .3rem;
            align-items: center;
            padding: .15rem 1rem;

            &:hover {
                background: oklch(0.985 0.002 247.839);
            }
        }
    }

    /* Second level dropdown */
    .dropdown .dropdown {
        right: 0;
        top: 0;
        transform: translateX(100%);
        margin-top: 0;
    }
}
