@import "animations";


// Mixins
// -----------------------------------------------------------------------------

// We use the visually-hidden() mixin instead of "display: none" to make Droppy
// as accessible as possible. Dropdowns should be visible to screen readers.
//
// Resource:
// - http://a11yproject.com/posts/how-to-hide-content/
// - http://a11yproject.com/posts/myth-screen-readers-dont-use-javascript/

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

@mixin visually-hidden-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}
