
// Breakpoints
// -----------------------------------------------------------------------------

$mobile-isolate: 0px 560px;
$tablet-isolate: 561px 850px;
$wide: 851px;


// Colors
// -----------------------------------------------------------------------------

$page: #fff;