@import "mixins";


// Droppy
// -----------------------------------------------------------------------------

.droppy {}

.droppy__drop {
  display: none;

  &--active {
    display: block;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-fill-mode: both;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: .3s;
  animation-fill-mode: both;
}
